.navbar{
background-color: rgba(128, 128, 128, 0.279);
height: 2rem;


.nav{
display:flex;
justify-content: end;
gap: 7px;
align-items: center;

li{

    list-style: none;
    border: 1px solid ;
    border-radius: 7px;

    a{
text-decoration: none;
padding: 5px;



    }
}
}



}