.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
;



img{
    width: 200px;
   border-radius: 50%; 
}

h1{color: rgb(206, 192, 192);}
p{color: rgb(255, 242, 242)}
}